*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  height: 3.6rem;
  padding: .7rem 1.5rem;
  background-color: #f1f1f1;
  box-shadow: 0 2px 8px var(--card-shadow-color);
  line-height: 2.2rem;
}

.navbar a, .navbar img, .navbar span {
  display: inline-block;
}

.navbar .logo {
  min-width: 2.2rem;
  height: 2.2rem;
  margin-right: .8rem;
  vertical-align: top;
}

.navbar .site-name {
  font-size: 1.5rem;
  color: var(--text-color);
  position: relative;
}

.navbar .links {
  position: absolute;
  top: .7rem;
  right: 1.5rem;
  display: flex;
  box-sizing: border-box;
  padding-left: 1.5rem;
  font-size: .9rem;
  white-space: nowrap;
}



.navbar .search-box {
  height: calc(2rem + 4px);
  margin-left: .25rem;
}

.navbar .search-box input {
  margin-top: 1px;
  margin-bottom: 1px;
  border-color: transparent;
  border-radius: .25em;
}

.nav-links {
  display: inline-block;
}

.nav-links .nav-item {
  position: relative;
  display: inline-block;
  line-height: 2rem;
  margin-left: 1rem;
}


.hero {
  position: relative;
  background: rgb(221, 151, 155);
  padding: 200px 100px 100px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5px;
}

.image .info {
  flex: 1;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    flex: 1;
  }
}

.hero .info h1,p {
  color: #333;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.hero .image img {
  max-width: 300px;
  margin-right: 5px;
  margin-left: 5px;
}

.hero .image {
  margin-top: 35px;
}

.content {
  margin: 15px;
  padding: 15px;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgb(93, 187, 171);
  border-radius: 8px;
}

.content h2,li {
  margin: 20px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 30px;
  border-top: 1px solid var(--border-color);
  background-color: rgb(250, 162, 162);
  text-align: center;
}
